h1 {color:rgb(16, 162, 199);
    text-align:center;}
    table, th {
        border: 1px solid;
        margin-left: 510px;
        margin-right: auto;
        width: 50%;
      }
      img {
          margin-left:830px;
        float: right;
      }
      div {
        float: left;
        padding: 15px;
      }
      
      .div1 {
        background: red;
      }
      
      .div2 {
        background: yellow;
      }
      
      .div3 {
        background: green;
      }
      td {clear: both; text-align:center;}
      
      td {
          width:10%;
          border:1px solid;
      }