h1 {color:rgb(16, 162, 199);
    text-align:center;}
    table, th, td {
        border: 1px solid;
      }
      img {
        float: right;
      }
      div {
        float: left;
        padding: 15px;
      }
      
      .div1 {
        background: red;
      }
      
      .div2 {
        background: yellow;
      }
      
      .div3 {
        background: green;
      }
      